apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/config.openshift.io/apiservers/cluster
  - ../../base/config.openshift.io/oauths/cluster
  - ../../base/operator.openshift.io/ingresscontrollers/default
  - ../../base/operators.coreos.com/subscriptions/crunchy-postgres
  - ../../base/operators.coreos.com/subscriptions/snapscheduler
  - ../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-admins-rb
  - ../../base/rbac.authorization.k8s.io/clusterrolebindings/self-provisioners
  - ../../base/user.openshift.io/groups/cluster-admins
  - ../../bundles/cert-manager
  - ../../bundles/external-secrets

  - machineconfigs/99-master-ssh.yaml
  - machineconfigs/99-worker-ssh.yaml
  - snapshotschedules/db-noobaa-db-pg-0.yaml

patches:
  - path: groups/cluster-admins.yaml
