apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../common

  - ../../base/core/namespaces/cs6620-fall21-deployverticalpod
  - ../../base/core/namespaces/gpu-operator-resources
  - ../../base/core/namespaces/moc-projects
  - ../../base/core/namespaces/netbox
  - ../../base/core/namespaces/openshift-nfd
  - ../../base/nvidia.com/clusterpolicy/gpu-cluster-policy
  - ../../base/operators.coreos.com/operatorgroups/cs6620-fall21-deployverticalpod
  - ../../base/operators.coreos.com/operatorgroups/openshift-nfd
  - ../../base/operators.coreos.com/subscriptions/gpu-operator-certified
  - ../../base/operators.coreos.com/subscriptions/openshift-nfd
  - ../../base/rbac.authorization.k8s.io/clusterrolebindings/project-maker-rb
  - ../../base/rbac.authorization.k8s.io/clusterroles/project-maker

  - ../../bundles/cnv
  - ../../bundles/image-registry
  - ../../bundles/metallb
  - ../../bundles/ocs
  - ../../bundles/vertical-pod-autoscaler

  - certificates/api-certificate-letsencrypt.yaml
  - certificates/default-ingress-certificate.yaml
  - clusterversions/version.yaml
  - configmaps/admin-acks.yaml
  - externalsecrets/alertmanager-main.yaml
  - externalsecrets/aws-route53-secret.yaml
  - externalsecrets/rook-ceph-external-cluster-details.yaml
  - externalsecrets/sso-clientsecret-moc-testing.yaml
  - externalsecrets/sso-clientsecret-moc.yaml
  - hyperconverged/kubevirt-hyperconverged.yaml
  - nodefeaturediscoveries/node-feature-discovery.yaml
  - nodenetworkconfigurationpolicies/ceph-client-network.yaml
  - quota/vr2-fall2021-virtualrose2021
  - quota/thesis-mosayyebzadeh

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: cluster-monitoring-config
    namespace: openshift-monitoring
    files:
      - config.yaml=configmaps/cluster-monitoring-config.yaml

patches:
  - path: apiservers/cluster_patch.yaml
  - path: oauths/cluster_patch.yaml

  - target:
      kind: ClusterIssuer
      name: letsencrypt-production-dns01
    path: clusterissuers/letsencrypt-production-dns01_patch.yaml

  - target:
      kind: Subscription
      group: operators.coreos.com
    path: misc/sync-wave_patch.yaml

  - target:
      kind: Namespace
    path: misc/sync-wave_patch.yaml
