apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: netbox
commonLabels:
  app: netbox

resources:
  - ../../base

  - externalsecrets/netbox-backup.yaml
  - externalsecrets/netbox-secret.yaml
  - externalsecrets/oauth2-secret.yaml
  - externalsecrets/pgbackrest-s3-conf.yaml
  - objectbucketclaims/netbox-storage.yaml
  - postgresclusters/netbox.yaml
  - services/netbox-auth.yaml

configMapGenerator:
  - name: netbox-config
    files:
      - config/extra.py
  - name: oauth2-config
    envs:
      - config/oauth2.env
  - name: netbox-bucket-policy
    files:
      - config/allow-anonymous-read.json

patches:
  - path: deployments/netbox_oauth_patch.yaml
  - path: deployments/netbox_config_patch.yaml
  - path: routes/netbox_patch.yaml

images:
  - name: quay.io/netboxcommunity/netbox
    newName: quay.io/larsks/netbox
    newTag: remote-group-autocreate-1.4.1-4
